= @directory.name
%p
  = link_to 'add files', new_directory_item_path(@directory)

%h3 Files
- @directory.items.order(created_at: :desc).each do |item|
  %p
    = link_to File.basename(item.file.path), item.file.url
    = link_to 'destroy', directory_item_path(@directory, item), method: :delete, data: { confirm: 'Are you sure?' }
