= simple_form_for [@directory, @item], html: { class: 'form-horizontal', role: 'form' } do |f|
  = f.error_notification

  .form-inputs
    = f.input :file, input_html: { multiple: true }

  .form-actions
    = f.button :submit
