%tr
  %td= link_to File.basename(item.file.path), item.file.url
  %td= link_to 'Show', [@directory, item]
  %td= link_to 'Destroy', [@directory, item], data: { confirm: 'Are you sure?' }, method: :delete
